<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0">
    
    <display-name>WS_EUREKABANK_SERVICIO</display-name>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- Configuración para asegurar que el servicio use la IP específica -->
    <context-param>
        <param-name>jakarta.xml.ws.service.endpoint.address</param-name>
        <param-value>http://10.183.38.246:8080/WS_EUREKABANK_SERVICIO/EurekaService</param-value>
    </context-param>
    
</web-app>
