<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- URL del servicio RESTful - Ajustar según tu configuración -->
        <!-- HTTP: http://10.183.38.246:44385/api/corebancario -->
        <!-- HTTPS: https://10.183.38.246:44385/api/corebancario -->
        <add key="ServiceUrl" value="http://10.183.38.246:44385/api/corebancario" />
    </appSettings>
</configuration>