<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_WSConversion" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.92.232.246:8085/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_WSConversion" contract="MiServicio.WSConversion"
                name="BasicHttpBinding_WSConversion" />
        </client>
    </system.serviceModel>
</configuration>