<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_WSConversion" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62533/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_WSConversion" contract="CONUNI_SOAP_DOTNET_CLICON_G09.MiServicio.WSConversion"
                name="BasicHttpBinding_WSConversion" />
        </client>
    </system.serviceModel>
</configuration>