<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- SQL Server LocalDB - Instancia genérica (más común y estable) -->
    <add
      name="EUREKABANK"
      connectionString="Server=(localdb)\MSSQLLocalDB;Initial Catalog=eurekabank;Integrated Security=True;TrustServerCertificate=True;Connection Timeout=30;"
      providerName="System.Data.SqlClient" />
    
    <!-- Opciones alternativas (comentadas) -->
    <!-- Opción 1: SQL Server Express -->
    <!-- <add
      name="EUREKABANK"
      connectionString="Server=.\SQLEXPRESS;Initial Catalog=eurekabank;Integrated Security=True;TrustServerCertificate=True;Connection Timeout=30;"
      providerName="System.Data.SqlClient" /> -->
    
    <!-- Opción 2: SQL Server por nombre completo -->
    <!-- <add
      name="EUREKABANK"
      connectionString="Server=DESKTOP-H5VAQE8\LOCALDB#90A8E8DE;Initial Catalog=eurekabank;Integrated Security=True;TrustServerCertificate=True;Connection Timeout=30;"
      providerName="System.Data.SqlClient" /> -->
    
    <!-- Opción 3: SQL Server LocalDB con instancia específica -->
    <!-- <add
      name="EUREKABANK"
      connectionString="Server=(localdb)\LOCALDB#90A8E8DE;Initial Catalog=eurekabank;Integrated Security=True;TrustServerCertificate=True;Connection Timeout=30;"
      providerName="System.Data.SqlClient" /> -->
    
    <!-- Opción 4: SQL Server por localhost -->
    <!-- <add
      name="EUREKABANK"
      connectionString="Server=localhost;Initial Catalog=eurekabank;Integrated Security=True;TrustServerCertificate=True;Connection Timeout=30;"
      providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WSEurekaBehavior">
          <!-- Habilitar metadatos para generar WSDL -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Incluir detalles de excepciones para depuración -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="WS_EB_DOTNET_SOAP_S.ec.edu.monster.ws.WSEureka" behaviorConfiguration="WSEurekaBehavior">
        <!-- Endpoint principal para SOAP (HTTP) -->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSEureka_Http" 
                  contract="WS_EB_DOTNET_SOAP_S.ec.edu.monster.ws.IWSEureka" />
        <!-- Endpoint para metadatos (WSDL) HTTP -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    
    <bindings>
      <basicHttpBinding>
        <!-- Binding para HTTP -->
        <binding name="BasicHttpBinding_IWSEureka_Http" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647" />
        </binding>
        <!-- Binding para HTTPS (si se necesita en el futuro) -->
        <binding name="BasicHttpBinding_IWSEureka_Https" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="WSEureka.svc" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>
